/* Google Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

/* MailChimp Stylings */
#mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}


/* Global Stylings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lustria', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
}

.background-effect {
    background: rgba(255, 255, 255, 0.5);  
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(2, 2, 0, 0.4);
}


.form-style form {
  display: flex;
  flex-direction: column;
}

/* Navbar Stylings */

nav {
    z-index: 1000;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Hero Section */
main {
    min-height: 99vh;
    width: 100vw;
    max-width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/mimi-thian-unsplash-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 20px;
    overflow: hidden;
}

