/* Google Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* MailChimp Stylings */
#mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}



/* Global Stylings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lustria', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
}

h3 {
    font-size: 2rem;
}

p, li {
    font-family: 'Roboto', sans-serif;
}

.background-effect {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(2, 2, 0, 0.4);
}


.form-style form {
  display: flex;
  flex-direction: column;
}

.borders {
    width: 100%;
}

.no-bullets {
    list-style-type: none;
}


/* Scrollbar Styles */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #0d6efd;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5b99f6;
}

/* Navbar Stylings */

nav {
    z-index: 1000;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.18); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.18);
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Call to Action Banner */

#action-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

/* Hero Section */
main {
    min-height: 99vh;
    width: 100vw;
    max-width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/christina-wocintechchat-com-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 20px;
    overflow: hidden;
    --webkit-box-shadow: inset 0px -42px 43px -11px rgba(0,0,0,0.69); 
    box-shadow: inset 0px -42px 43px -11px rgba(0,0,0,0.69);
}

main ul {
    font-size: 1.5rem;
    line-height: 3rem;
}


.hero-text {
    margin-top: 2rem;
}

/* Value Section */

.value-section {
    padding: 3rem auto;
    margin: 8rem auto 5rem auto;
    min-height: 70vh;
}

.value-images {
    max-height: 200px;
    max-width: 200px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.18); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.18);
}

.offer-text {
    font-size: 1.25rem;
    font-weight: 400;
    color: #333;
    padding-top: 1.25rem;
}

/* Goals Section */

.goals-section {
    background-color: #d9d9d9;
    padding: 3rem;
}

.goal-text {
    font-size: 1.25rem;
    font-weight: 400;
    color: #333;
}

.goals-img {
    max-height: 450px;
    width: auto;
    border-radius: 8px;
}

/* Inquiry Section */

#inquiry {
    padding: 3rem;

}

/* Testimonials Section */

#testimonials {
    min-height: 108vh;
}

.test-card {
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.18); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.18);
    padding: 2rem;
    margin: 1rem;
    text-align: justify;
    color: #333;
    min-height: 300px;
    min-width: 300px;
    
}

.testimonials-img {
    max-width: 250px;
    border-radius: 8px;
}

/* Carousel Stylings */

.carousel-item {
    display: none;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.carousel-item.active {
    display: block;
    opacity: 1;
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
}

.carousel-item.prev,
.carousel-item.next {
    opacity: 0.5;
}

/* Footer Section */

footer {
    border-top: 3px solid #333;
}